<!-- -------PAREJA EXISTENTE-------- -->
<div style="padding-top: 10px;" *ngIf="!isParejaNueva" class="detalle-pareja content">
   <div>
    <!-- <canvas baseChart
    [labels]="doughnutChartLabels"
    [datasets]="doughnutChartDatasets"
    [options]="doughnutChartOptions"
    [legend]="true"
    [type]="'doughnut'"> 
</canvas>-->
   </div>
    <h2 *ngIf="tipo==='D'" class="header">Detalle de la pareja</h2>
    <h2 *ngIf="tipo==='M'" class="header">Modificar pareja</h2>
    <form  [formGroup]="parejaForm" class="form-detalle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="parejaIdForm">ID:</label>
            <input type="text" class="form-control" id="parejaIdForm" formControlName="parejaIdForm" disable>
          </div>
          <div class="form-group"  >
            <label for="parejaOption">Pareja:</label>
            <select class="form-control" id="parejaOption" type="text" formControlName="parejaOptionForm"  >
              <option *ngFor="let parejaOption of parejas" [ngValue]="parejaOption.id">{{parejaOption.nombre_jugador1}} - {{parejaOption.nombre_jugador2}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pareja2">Partidas ganadas:</label>
            <input type="text" class="form-control" id="pareja2"  formControlName="p_ganadasForm" >
          </div>
          <div class="form-group">
            <label for="ubicacion">Partidas jugadas:</label>
            <input type="text" class="form-control" id="ubicacion" formControlName="p_jugadasForm">
          </div>
          <div class="form-group">
            <label for="dia">Partidas perdidas:</label>
            <input type="text" class="form-control" id="dia" formControlName="p_perdidasForm">
          </div>
        </div>
          
          <div class="col-md-6" *ngIf="pareja?.p_jugadas!==0">
            <div class="container">
              <h2>Teneis un porcentaje de victoria de un {{porcentaje}}% </h2>
              <div class="chart-container">
                <canvas
                  baseChart
                  [labels]="doughnutChartLabels"
                  [datasets]="doughnutChartDatasets"
                  [options]="doughnutChartOptions"
                  [legend]="true"
                  [type]="'doughnut'"
                >
                </canvas>
              </div>
            </div>
          </div>  
      </div>  
      <div style="display: flex; justify-content: space-between;">
        <button id="btn" [hidden]="tipo==='D'"  [disabled]="parejaForm.invalid" (click)="save()" class="btn btn-primary">Guardar</button>
        <button id="btn" (click)="cerrarDetalle.emit()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
  
  <!-- -------PARTIDA NUEVA-------- -->
  <div *ngIf="isParejaNueva" class="detalle-pareja content">
    <h2 class="header">Crear nueva pareja</h2>
    <form [formGroup]="nuevaParejaForm" class="form-detalle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="pareja1">Jugador 1:</label>
            <select formControlName="jugador1Form" class="form-control" id="jugador1">
                <option value="" selected>Selecciona un jugador</option>
                <option *ngFor="let jugador of jugadores" [value]="jugador.id">{{ jugador.name }}</option>
              </select>
            <div *ngIf="nuevaParejaForm.get('jugador1Form')?.invalid  && nuevaParejaForm.get('jugador1Form')?.touched" class="error-message" style="color: red;">
              Jugador 1 es requerido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <label for="pareja2">Jugador 2:</label>
            <select formControlName="jugador2Form" class="form-control" id="jugador2">
              <option value="" selected>Selecciona un jugador</option>
              <option *ngFor="let jugador of jugadores" [value]="jugador.id">{{ jugador.name }}</option>
            </select>
            <div *ngIf="nuevaParejaForm.get('jugador2Form')?.invalid && nuevaParejaForm.get('jugador2Form')?.touched"  class="error-message" style="color: red;">
              Jugador 2 es requerido.
            </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <button id="btn" [hidden]="tipo==='D'"  [disabled]="nuevaParejaForm.invalid" (click)="guardarNuevaPareja()" class="btn btn-primary">Guardar</button>
        <button id="btn" (click)="cerrarDetalle.emit()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
  