<div class="container">
    <h2 class="text-center mb-4">Formulario de creación de usuario</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card rounded shadow">
          <div class="card-body">
            <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
                    <div *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)"
                      class="text-danger">
                      Nombre es requerido
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="user">Usuario</label>
                    <input type="text" class="form-control" id="user" formControlName="user" placeholder="Usuario">
                    <div *ngIf="registroForm.get('user')?.invalid && (registroForm.get('user')?.dirty || registroForm.get('user')?.touched)"
                      class="text-danger">
                      Usuario es requerido
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                   <label for="edad">Edad</label>
                   <br>
                    <select class="form-control" formControlName="edad"  style="width: 100%;">
                      <option *ngFor="let edad of edades" [value]="edad">{{edad}}</option>
                    </select>
                    <div *ngIf="registroForm.get('edad')?.invalid && (registroForm.get('edad')?.dirty || registroForm.get('edad')?.touched)"
                      class="text-danger">
                      Edad es obligatorio
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo electrónico">
                    <div *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)"
                      class="text-danger">
                      Email es requerido y debe ser válido
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="emailConfirm">Confirmar Email</label>
                    <input type="email" class="form-control" id="emailConfirm" formControlName="emailConfirm" placeholder="Confirme su correo electrónico">
                    <div *ngIf="registroForm.get('emailConfirm')?.invalid && (registroForm.get('emailConfirm')?.dirty || registroForm.get('emailConfirm')?.touched)"
                      class="text-danger">
                      El correo es obligatorio.
                    </div>
                    <div *ngIf="registroForm.get('emailConfirm')?.valid && registroForm.errors?.['notSameEmail'] && (registroForm.get('contraseñaConfirm')?.dirty || registroForm.get('contraseñaConfirm')?.touched)"
                      class="text-danger">
                      Los emails han de coincidir.
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Apellidos">
                    <div *ngIf="registroForm.get('apellidos')?.invalid && (registroForm.get('apellidos')?.dirty || registroForm.get('apellidos')?.touched)"
                      class="text-danger">
                      Apellidos son requeridos
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono">
                    <div *ngIf="registroForm.get('telefono')?.invalid && (registroForm.get('telefono')?.dirty || registroForm.get('telefono')?.touched)"
                      class="text-danger">
                      Teléfono es requerido
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <div class="mb-3 position-relative">
                      <input [type]="hide ? 'password' : 'text'"class="form-control" id="contraseña" formControlName="contraseña" placeholder="Contraseña">
                        <span class="toggle-password position-absolute" (click)="toggle()" style="right: 10px; top: 50%; transform: translateY(-50%);">
                            <i class="bi" [ngClass]="hide ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                        </span>
                    </div>
                    <div *ngIf="registroForm.get('contraseña')?.invalid && (registroForm.get('contraseña')?.dirty || registroForm.get('contraseña')?.touched)"
                      class="text-danger">
                      Contraseña es requerida
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contraseñaConfirm">Confirme su contraseña</label>
                    <div class="mb-3 position-relative">
                      <input [type]="hide2 ? 'password':'text'" class="form-control" id="contraseñaConfirm" formControlName="contraseñaConfirm" placeholder="Confirme su contraseña">
                        <span class="toggle-password position-absolute" (click)="toggle2()" style="right: 10px; top: 50%; transform: translateY(-50%);">
                            <i class="bi" [ngClass]="hide2 ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                        </span>
                    </div>
                    <div *ngIf="registroForm.get('contraseñaConfirm')?.invalid && (registroForm.get('contraseñaConfirm')?.dirty || registroForm.get('contraseñaConfirm')?.touched)"
                      class="text-danger">
                      La contraseña es requerida.
                    </div>
                    <div *ngIf="registroForm.get('contraseñaConfirm')?.valid && registroForm.errors?.['notSame'] && (registroForm.get('contraseñaConfirm')?.dirty || registroForm.get('contraseñaConfirm')?.touched)"
                      class="text-danger">
                      Las contraseñas no coinciden.
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: space-between;">
              <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Registrarse</button>
              <button (click)="login()" class="btn btn-primary float-right" routerLink="/">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  