<div *ngIf="tipo==='D'" class="detalle-jugadores">
  <h2 class="header">Detalle de {{this.jugador?.username}}</h2>
  <form class="form-detalle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" [value]="jugador?.id" [disabled]="disable">
          </div>           
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" [value]="jugador?.name" [disabled]="disable">
          </div>   
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" [value]="jugador?.apellidos" [disabled]="disable">
          </div>    
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" [value]="jugador?.username" [disabled]="disable">
          </div>
          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="integer" class="form-control" [value]="jugador?.edad" [disabled]="disable">
          </div>
          <div class="form-group">
            <label for="partidasGanadas">Partidas Ganadas</label>
            <input type="integer" class="form-control" [value]="jugador?.partidasGanadas" [disabled]="disable">
          </div>
          <div class="form-group">
            <label for="partidasPerdidas">Partidas Perdidas:</label>
            <input type="integer" class="form-control" [value]="jugador?.partidasPerdidas" [disabled]="disable">
          </div>
        </div>
     
      <div class="col-md-6">
        <div class="container">
          <h2>Tienes un porcentaje de victoria de un {{porcentaje}}% </h2>
          <div class="chart-container">
            <canvas
              baseChart
              [labels]="doughnutChartLabels"
              [datasets]="doughnutChartDatasets"
              [options]="doughnutChartOptions"
              [legend]="true"
              [type]="'doughnut'"
            >
            </canvas>
          </div>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <h2>Mejores acompañante segun porcentaje de victorias </h2>
          <div class="chart-container">
            <canvas
              baseChart
              [labels]="percentageChartLabels"
              [datasets]="percentageChartDatasets"
              [options]="percentageChartOptions"
              [legend]="true"
              [type]="'bar'"
            >
            </canvas>
          </div>
        </div>
      </div> 
   
    <div class="col-md-6">
      <div class="container">
        <h2>Mejores acompañante segun partidas ganadas </h2>
        <div class="chart-container">
          <canvas
            baseChart
            [labels]="ganadasChartLabels"
            [datasets]="ganadasChartDatasets"
            [options]="ganadasChartOptions"
            [legend]="true"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
    </div> 
  </div>    
      <button id="btn" (click)="cerrarDetalle.emit()" class="btn btn-secondary">Cancelar</button>
  </form>
</div>
