<div style="margin-top: 10px;">
  <h2>Listado de Parejas</h2>
<div class="table-responsive" style="padding-bottom: 100px;">
  <table class="table table-hover rounded">
    <thead class="bg-light">
      <tr>
        <th>Id Pareja</th>
        <th>Nombre Jugadores</th>
        <th>Partidas Jugadas</th>
        <th>Partidas Ganadas</th>
        <th>Partidas Perdidas</th>
        <th style="width: 60px;">...</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pareja of parejas | paginate: { itemsPerPage: 5, currentPage: p };  ">
        <td>{{ pareja.id }}</td>
        <td>{{ pareja.nombrePareja }}</td>
        <td>{{ pareja.p_jugadas }}</td>
        <td>{{ pareja.p_ganadas }}</td>
        <td>{{ pareja.p_perdidas }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mi-item-personalizado " type="button" id="accionesDropdown{{pareja.id}}" data-bs-toggle="dropdown" data-bs-flip="true" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="goDetail(pareja.id, 'D')">Detalle</a></li>
                  <!-- <li><a class="dropdown-item" (click)="goDetail(pareja.id,'M')">Modificar</a></li> -->
                  <!-- <li><a class="dropdown-item" (click)="eliminarPareja(pareja.id)">Borrar</a></li> -->
                </ul>
              </div>
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>
  <div class="display: flex; justify-content: space-between;"> <button class="btn btn-primary"  (click)="createMatch()" style="float: right;">Alta pareja</button>
   
  </div>
</div>

<app-parejas-detail [identificador]="identificador" [tipo]="tipo" (cerrarDetalle)="this.detalle=!this.detalle" (actualizar)="getParejas" [pareja]="parejaDetalle" *ngIf="detalle"></app-parejas-detail>