.card {
    width: 300px;
    border-radius: 2px; /* Ajusta este valor para cambiar el radio de los bordes redondeados */
    // border: 2px solid black; /* Añade un borde negro */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra */
  }
  
.login-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes background {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}