<div style="margin-top: 10px;">
  <h2>Listado de Ubicaciones</h2>
<div class="table-responsive">
  <table class="table table-hover rounded">
    <thead class="bg-light">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th style="width: 60px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ubicacion of ubicaciones  | paginate: { itemsPerPage: 5, currentPage: p } let i = index; ">
        <td>{{ i+1}}</td>
        <td>{{ ubicacion?.name }}</td>
        <td>{{ ubicacion?.direccion }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mi-item-personalizado " type="button" id="accionesDropdown{{ubicacion.id}}" data-bs-toggle="dropdown" data-bs-flip="true" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" (click)="goDetail(ubicacion.id,'D')">Detalle</a></li>
              <li><a class="dropdown-item" (click)="goDetail(ubicacion.id,'M')">Modificar</a></li>
              <li><a class="dropdown-item" (click)="goBorrar(ubicacion.id)">Borrar</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>
  <div class="display: flex; justify-content: space-between;"> <button class="btn btn-primary" (click)="createUbicacion()" style="float: right;">Nueva Ubicación</button>
</div>
</div>
<app-ubicaciones-detail *ngIf="detalle" [ubicacion]="ubicacion" [tipo]="tipo" (actualizar)="actualizarLista()" (cerrarDetalle)="cerrarHijo()"></app-ubicaciones-detail>