<footer >
    <div class="footer-section">
      <h4>Redes sociales</h4>
      <div class="social-icons">
        <a href="#"><img src="assets/instagram-logo.jpg" alt="Instagram"></a>
        <a href="#"><img src="assets/telegram-logo.jpg" alt="Instagram"></a>
        <a href="#"><img src="assets/facebook-logo.jpg" alt="Facebook"></a>
        <a href="#"><img src="assets/twitter-logo.jpg" alt="Twitter"></a>
      </div>
    </div>
    <div class="footer-section">
      <div class="address">
        <p>Av. Paralel 188</p>
        <p>08015 Barcelona</p>
      </div>
    </div>
    <div class="footer-section">
      <a href="#">Nuestra política web</a>
    </div>
  </footer>